<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
		<div>
			<!-- jQuery handles to place the header background images -->
			<div id="bgimgs">
				<div id="homebg" 			class="bgimg"></div>
				<div id="locationsbg" class="bgimg"></div>
				<div id="menubg" 			class="bgimg"></div>
			</div>
		
			<div id="mainbar">
				<ul>
					<li><%= link_to image_tag('ajisenlogo.png'), 	'#Home',			:id => "homebtn" %>
					<li><%= link_to "Locations", 									'#Locations', :id => "locationsbtn" %>
					<li><%= link_to "Menu", 											'#Menu', 			:id => "menubtn" %>
				</ul>
		</div>
		
		</div>
		<!--
		<div id="main">
			<div class="zonemain" id="home">
		    <div id="onglet_actu" style="left:268px;">
					<a href="#actu">
						<img src="http://www.porte-sainte-claire.com/wp-content/themes/portesainteclaire_version3/images/onglet_actuchef.png"/>
					</a>
				</div>
		    
				<div id="barremain">
		  		<div class="contenubarre">
		    		<div id="animationlogo">
							<a href="http://www.porte-sainte-claire.com" id="menu_home">
								<img src="http://www.porte-sainte-claire.com/wp-content/themes/portesainteclaire_version3/images/logo0001.png" alt=""/>
							</a>
						</div>
		    		
				<div id="titrerestaurant">
					<img src="http://www.porte-sainte-claire.com/wp-content/themes/portesainteclaire_version3/images/logo-titrerestaurant.png" width="220" height="20" alt="restaurant annecy" />
				</div>
		    
				<div style="position:relative; top:256px; left:16px; width:293px;">
		      <div id="zonemenu" style="position:absolute; top:-2px; z-index:20;">
						<img src="http://www.porte-sainte-claire.com/wp-content/themes/portesainteclaire_version3/images/encoche_haut.png" alt=""/>
					</div>
		      
					<div id="zonebtnclick">
		        <div style="position:relative;">
		        	<div id="bgclick">
								<img src="http://www.porte-sainte-claire.com/wp-content/themes/portesainteclaire_version3/images/menu_ongletbackground.png" width="239" height="28" alt="porte sainte claire" />
							</div>
						</div>
		      </div>
		</div>-->

  </body>
</html>

