<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
		<div>
			<!-- jQuery handles to place the header background images -->
			<div id="bgimgs">
				<div id="homebg" 			class="bgimg"></div>
				<div id="locationsbg" class="bgimg"></div>
				<div id="menubg" 			class="bgimg"></div>
			</div>
			
			<div id="content">
				<div id="header">
					<div id="header-content">
					Locations
					</div>
				</div>
				<div id="featpic">
				</div>
			</div>
			
			<div id="mainbar">
					<div id="homebtn-container">
					<%= link_to image_tag('ajisenlogo.png'), '#Home', :id => "homebtn" %>
					</div>
				<ul>
					<li><%= link_to "Locations",	'#Locations', :id => "locationsbtn" %>
					<li><%= link_to "Menu", 			'#Menu', 			:id => "menubtn" %>
				</ul>
			</div>
				
		</div>
  </body>
</html>

