<% provide(:title, 'Locations') %>
<% provide(:page, 'locationspage') %>
<!DOCTYPE html>
<html>
  <head>
  </head>

  <body class="<%= yield(:page) %>">
		<div id="mainbar">
			<ul>
				<li><%= link_to image_tag('ajisenlogo.png'), '/' %>
				<li><%= link_to "Locations", 'locations.html' %>
				<li><%= link_to "Menu", '#' %>
			</ul>
		</div>
  </body>
</html>

