
* {
	outline:none;
}

html,body {
  margin: 0px;
	padding: 0px;
	height: 100%;
}

.container {
	
}

body {
	height: 100%;
	overflow: hidden;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	//color: #4e362e;
	background-color: #FFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.homepage {
	background: url(/assets/ramen1.jpg); 
	#mainbar {
		background-color: #333;
		color: #FFF;
		position: absolute;
		height: 100%;
		z-index: 20;
		width: 300px;
		margin: 0 0 0 -150px;
		left: 50%;
		li {
			list-style-type: none;
		}
		a {
			position: center;
		}
	}
}

.locationspage {
	background: url(/assets/salmon1.jpg);
}

#mainbar {
	background-color: #333;
	color: #FFF;
	position: absolute;
	height: 100%;
	z-index: 20;
	width: 300px;
	margin: 0 0 0 -150px;
	left: 25%;
	li {
		list-style-type: none;
	}
	a {
		position: center;
	}
}


/*
#cache_main a {
	color: #000;
}

#cache_main a:hover {
	color: #000;
}

.canimate_preloader {
	display: none;
}

#info_anim {
	width: 200px;
	height: 100px;
	background-color: #000;
	position: absolute;
	z-index: 100000;
	top: 0px;
	right: 20px;
	color: #fff;
}

.fullscreen {
	position: absolute;
	z-index: -1;
}

.display_none {
	display: none
}

.texte small {
	display: none;
}

.zone-texte .jScrollPaneTrack {
	background: #f60;
}

.zone-texte .jScrollPaneDrag {
	background: #00f url(../images/drag_grab.gif) no-repeat 50% 50%;
}

.zone-texte .scroll-pane {
	background: #69f;
}

html {
	overflow: hidden;
}

p {
	margin: 0px;
	margin-bottom: 10px;
}

br {
	letter-spacing: 0px;
}

h2 {
	color: #4e362e;
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 16px;
	font-weight: bold;
}

h3 {
	color: #ad8b56;
	font-size: 13px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 0px;
}

h4 {
	color: #4e362e;
	font-size: 10px;
	font-weight: bold;
	margin-top: 0px;
	margin-top: 0px;
}

img {
	border: none;
	}

.alignleft {
	float: left;
	padding: 5px 10px 5px 0px;
}

.alignright {
	float: right;
	padding: 5px 0px 5px 10px;
}

.floatimage {
	float: left;
	margin: 5px 10px 0px 0px;
	display: inline;
}

.accessibilite {
	display: none;
}

#main {
	position: absolute;
	height: 100%;
	z-index: 10;
	width: 100%;
}

#main #mentions {
	position: absolute;
	right: 0px;
	bottom: -2px;
	z-index: 50;
	cursor: pointer;
	text-align: left;
}

iframe {
	margin-left: 0px;
}

#main #onglet_actu {
	position: absolute;
	left: 11px;
	top: 43px;
	display: none;
	cursor: pointer;
	z-index: 7;
}

#main #onglet_actu_inactive {
	position: absolute;
	left: 11px;
	top: 43px;
	display: none;
	cursor: pointer;
}

#main .zonemain {
	width: 941px;
	position: relative;
	text-align: left;
	min-height: 942px;
	height: inherit;
	margin-left: auto;
	margin-right: auto;
}

.zonemain .zonetitre {
	height: 117px;
	width :100%;
}

.zonemain .zonetitre .titre {
	font-size: 23px;
	color: #4e362e;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top: 40px;
	padding-left: 36px;
}

.zonemain .zonetitre .soustitre {
	font-size: 19px;
	color: #ad8b56;
	letter-spacing: 1.5px;
	padding-top: 9px;
	padding-left: 77px;
}

.zonemain .actuzone {
	width: 514px;
	height: 100%;
	position: absolute;
	z-index: 6;
	left: 56px;
}

.zonemain .actuzone .container {
	width: 517px;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.zonemain .actuzone #blocactu {
	width: 517px;
	height: 100%;
	background-image: url(images/fond-principal.jpg);
	background-repeat: repeat-y;
	position: absolute;
	left: 517px;
}

.zonemain .actuzone #blocactu #zonemoveactu {
	position: absolute; 
	left: 36px;
}
	
.zonemain .actuzone #blocactu #zonemoveactu #listeactu {
	position:absolute;left:0px;width:480px;
}

.zonemain .actuzone #blocactu #zonemoveactu #actuUne {
	position: absolute;
	left: 520px;
	height: 200px;
	width: 480px;
}

.zonemain .actuzone .separat {
	height: 2px;
	text-align: left;
	width: 100%;
	margin-top: 1px;
	margin-bottom: 15px;
}

.zonemain .actuzone .actu_entier {
	width: 444px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	position: relative;
}

.zonemain .actuzone .actu_entier .btn_retour {
	position: absolute;
	left: 1px;
	top: 6px;
	cursor: pointer;
}

.zonemain .actuzone .actu_entier .date {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	color: #4e362e;
	float: right;
	padding-top:13px;
}

.zonemain .actuzone .actu_entier .bloc {
	margin-top: 13px;
	margin-left: 5px;
}

.zonemain .actuzone .actu_entier .bloc .bloctexte {
	margin-top: -2px;
	line-height: 17px;
	text-align: justify;
	height: 450px;
}

.zonemain .actuzone .actu_entier .blocimage {
	width: 451px;
	height: 216px;
	background-image: url(images/actu_fond_image.png);
	background-repeat: no-repeat;
}

.zonemain .actuzone .actu_entier .blocimage img {
	margin-left: 8px;
	margin-top: 8px;
}

.zonemain .actuzone .actu_entier .titre {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #4e362e;
	margin-bottom: 7px;
}

.zonemain .actuzone .actu_condense {
	width: 100%;
	height: 145px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	position: relative;
}

.zonemain .actuzone .actu_condense .btn_savoirplus {
	position: absolute;
	right: 35px;
	top: 7px;
	cursor: pointer;
}

.zonemain .actuzone .actu_condense .bloc {
	float: left;
	width: 320px;
	padding-top: 10px;
}

.zonemain .actuzone .actu_condense .vignette {
	width: 142px;
	height: 133px;
	float: left;
	position: relative;
}

.zonemain .actuzone .actu_condense .vignette .vignettecache {
	left: 5px;
	top: 5px;
	position: absolute;
	z-index: 10;
	cursor: pointer;
}

.zonemain .actuzone .actu_condense .vignette .vignetteimg {
	left: 6px;
	top: 7px;
	position: absolute;
	z-index: 9;
	cursor: pointer;
}

.zonemain .actuzone .actu_condense .vignette .vignette1 {
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 8;
}

.zonemain .actuzone .actu_condense .vignette .vignette2 {
	top: -7px;
	left: -7px;
	position: absolute;
	z-index: 7;
}

.zonemain .actuzone .actu_condense .date {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	color: #4e362e;
	margin-bottom: 9px;
}

.zonemain .actuzone .actu_condense .titre {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #4e362e;
	margin-bottom: 7px;
}

.zonemain .actuzone .actu_condense .bloctexte {
	margin-top: -2px;
	line-height: 17px;
}

.zonemain #zonepage {
	width: 542px;
	height: 100%;
	position: absolute;
	z-index: 5;
	left: 364px;
	overflow: hidden;
}

.zonemain #blocpage {
	width: 542px;
	position: absolute;
	left: -542px;
	height: 100%;
	background-image: url(images/fond-principal-ombre.png);
	background-repeat: repeat-y;
	background-position: right;
}

.zonemain #blocpage .container {
	width: 517px;
	height: 100%;
	float: left;
	background-image: url(images/fond-principal.jpg);
	background-repeat: repeat-y;
}

.zonemain #blocpage .container2 {
	height: 100%;
	background-image: url(images/fond-principal-fourchette.jpg);
	background-repeat: no-repeat;
}

.zonemain #blocpage .zonediapo {
	background-image: url(images/zonepage_fonddiapo.png);
	background-repeat: no-repeat;
	background-position: top;
	height: 301px;
	width: 100%;
	position: relative;
}

.zonemain #blocpage .zonediapo #diapoloader {
	position: absolute;
	left: 200px;
	top: 140px;
}

.zonemain #blocpage .zonediapo #image_page {
	margin-top: 8px;
}

.zonemain .zonetexte {
	margin-top: 37px;
	margin-left: 35px;
}

.zonemain .zonetexte .textelivreor {
	line-height: 17px;
	text-align: justify;
	padding-right: 50px;
	overflow: hidden;
	margin-bottom: 10px;
}

.zonemain .zonetexte .texte {
	line-height: 17px;
	height: 418px;
	text-align: justify;
	padding-right: 50px;
}

.zonemain .zonetexte .separat {
	height: 2px;
	text-align: left;
	width: 100%;
	margin-top: 30px;
}

.zonemain .zonemaps {
	margin-left: 15px;
	margin-top: 16px;
	position: relative;
}

.zonemain .zonemaps #mapsicon {
	position: absolute;
	z-index: 5;
	left: 165px;
	top: 185px;
	cursor: pointer;
}

.zonemain .zonemaps #mapsombre {
	position: absolute;
	z-index: 5;
	left: 167px;
	top: 220px;
	cursor: pointer;
	width: 26px;
	text-align: center;
}

.zonemain #barremain {
	height: inherit;
	width: 327px;
	position: absolute;
	text-align: left;
	z-index: 10;
	min-height: 942px;
}

#home #barremain {
	left: 307px;
}

#page #barremain {
	left: 50px;
}

#actu #barremain {
	left: 560px;
}

.zonemain #barremain #zonebtnclick {
	position: absolute;
	top: 22px;
	left: 26px;
	width: 239px;
	height: 241px;
	overflow: hidden;
	display: none;
}

.zonemain #barremain #zonebtnclick #bgclick {
	position: absolute;
	top: -50px;
	left: 0px;
}
	
.zonemain #barremain #menu {
	position: relative;
	z-index: 15;
	top: 21px;
	margin-bottom: -2px;
	height: 0px;
	overflow: hidden;
	background-image: url(images/menu_background.png);
	background-repeat: no-repeat;
	background-position: 28px 0px;
	width: 292px;
	color: #4e362e;
}

.zonemain #barremain #menu #ombrebas {
	position: absolute;
	z-index: 10;
	bottom:0px;
}

.zonemain #barremain #menu a {
	color: #FFF;
	text-decoration: none;
}

.zonemain #barremain #menu a:hover {
	color: #ad8b56;
	text-decoration: none;
}

.zonemain #barremain #menu ul {
	padding: 0px;
	margin: 0px 0px 0px 29px;
	width: 200px;
}

.zonemain #barremain #menu .ongletmenu {
	color: #ffffff;
	font-size: 18px;
	letter-spacing: 1px;
	list-style-type: none;
	max-height: 29px;
	width: 239px;
	position: relative;
}

.zonemain #barremain #menu .ongletmenu .menu_on {
	display: none;
}

.zonemain #barremain #menu .ongletmenu .menu_selected {
	display: none;
}

.zonemain #barremain #menu .ongletmenu_selected {
	background-image: url(images/menu_ongletbackground.png);
	background-repeat: no-repeat;
	font-size: 18px;
	letter-spacing: 1px;
	list-style-type: none;
	height: 29px;
	width: 239px;
	padding-left: 3px;
	position: relative;
}

.zonemain #barremain #menu .survol {
	background-image: url(images/menu_ongletbackground.png);
	height: 28px;
	width: 239px;
	position: absolute;
	right: 0px;left:0px;top:10px;z-index:10;display:none;
}

.zonemain #barremain #menu .survol a {
	padding-top: 10px;
	color: #4e362e;
}

.zonemain #barremain .contenubarre {
	width: 327px;
	position: relative;
	z-index: 12;
	height: 942px;
	background-image: url(images/barremain_fond.png);
	background-position: center top;
	background-repeat: no-repeat;
}

.zonemain #barremain .contenubarre_fond {
	width: 327px;
	position: relative;
	z-index: 12;
	height: inherit;
	background-image: url(images/barremain_fond_repeat.png);
	background-repeat: repeat-y;
}

.zonemain #barremain .contenubarre #animationlogo {
	position: absolute;
	padding-top: 30px;
	left: 12px;
	cursor: pointer;
	width: 303px;
}

.zonemain #barremain .contenubarre #animationlogo img {
	margin-left: 10px;
	background-image: url(images/menu_backgroundlogo.png);
	background-repeat: no-repeat;
	background-position: top center;
}

.zonemain #barremain .contenubarre #titrerestaurant {
	position: absolute;
	top: 232px;
	left: 55px;
	width: 220px;
	display: none;
}

.zonemain #barremain .contenubarre #zonetextebarre {
	position: absolute;
	top: 540px;
	left: 20px;
	width: 257px;
	text-align: center;
	margin-left: 16px;
}

.zonemain #barremain .contenubarre #zonetextebarre #maskzonetextebarre {
	width: 257px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.zonemain #barremain .contenubarre #zonetextebarre .separatbarre {
	width: 196px;
	height: 12px;
	background-image: url(images/barremain-barre_separat.png);
	background-repeat: no-repeat;
	background-position: top;
	margin-left: 23px;
}

.zonemain #barremain .contenubarre #zonetextebarre .textebarre {
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #dac08c;
	margin-bottom: 23px;
}

.zonemain #barremain .contenubarre #zonetextebarre .adressebarre {
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #ffffff;
}

.zonemain #barremain #zonemadmimi {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 303px;
	margin-left: 16px;
	height: 120px;
	z-index: 20;
}

.zonemain #barremain #zonemadmimi #blocmadmimi {
	position: relative;
	margin-top: 20px;
	height: 100px;
	overflow: hidden;
}

.zonemain #barremain #zonemadmimi #blocmadmimi #madmimiombre {
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	z-index: 20;
	display: none;
}

.zonemain #barremain #madmimianim {
	position: absolute;
	top: -70px;
	left: 0px;
	width: 303px;
	z-index: 5;
}

.zonemain #barremain #madmimianim #madmimititle {
	width: 100%;
	text-align: center;
}

.zonemain #barremain #madmimianim #madmimiemail {
	width: 241px;
	height: 26px;
	background-image: url(images/madmimi-email.jpg);
	background-repeat: no-repeat;
	overflow: hidden;
	margin-left: 27px;
	margin-top: 3px;
	position: relative;
}

.zonemain #barremain #madmimianim #madmimim_form #madmimi_input {
	position: absolute;
	left: 2px;
	top: 0px;
}

.zonemain #barremain #madmimianim #madmimim_form input {
	width: 210px;
	height: 24px;
	border: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #1e110c;
	font-style: italic;
	text-align: center;
	overflow: hidden;
	background: none;
	position: absolute;
}

.zonemain #barremain #madmimianim #madmimim_form #madmimi_btn {
	cursor: pointer;
	position: absolute;
	right: 2px;
	top: 4px;
}

#parallax {
	position: relative;
	overflow: hidden;
	width: 700px;
	height: 280px;
}

.thecomment {
	background-color: #DAC08C;
	margin-bottom: 10px;
	padding: 5px;
}

#formulaire-commentaire input {
	background-color: #DAC08C;
	padding-left: 5px;
	padding-top: 2px;
	padding-right: 5px;
	margin: 2px 0px 0px 0px;
	height: 18px;
}

#formulaire-commentaire #submit {
	border: none;
	padding: 5px;
	margin: 5px 0px 0px 0px;
	height: auto;
}

#formulaire-commentaire textarea {
	width: 432px;
	background-color: #DAC08C;
	padding: 5px;
	margin: 5px 0px 10px 0px;
}

.future_loader {
	background-color: #9FC;
}

#awwwards {
	position: absolute;
	z-index: 5;
	height:105px;width:69px;right:0px;top:80px;}

*/