
html,body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	height: 100%;
	overflow: hidden;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	background-color: #FFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#bgimgs {
	height:100%;
	.bgimg {
		background: {
			position: center top;
			size: cover;
			repeat: no-repeat;
		}
		width: 100%;
		height: 100%;
		position: absolute;
	}
}

#homebtn-container {
	background-color: #FFF;
	text-align: center;
	display: none;
	margin: 100px 0 20px 0;
	padding: 20px 0 20px 0;
}

#home-bg {
	background-image: url("ramen2.jpg");
}

#locations-bg {
	background-image: url("ajisen1.jpg");
	display: none;
}

#menu-bg {
	background-image: url("salmon1.jpg");
	display: none;
}

.container {
	background-color: #FFF;
	height: 100%;
	width: 50%;
	position: absolute;
	margin: 0 0 0 150px;
	left: 25%;
	display: none;
	color: #CC0000;
	
	.header {
		height: 110px;
		position: relative;
		.header-content {
			position: absolute;
			bottom: -5px;
			left: 0;
			font-size: 48px;
		}
	}
	
	.featpic {
		height: 265px;
		width: 100%;
		background: {
			color: #CC0000;
			position: center top;
			size: cover;
			repeat: no-repeat;
		}
	}
}

#locations-featpic {
	background-image: url("ramen1.jpg");
}

#menu-featpic {
	background-image: url("ajisen2.jpg");
}

#mainbar {
	background-color: #000;
	color: #000;
	position: absolute;
	height: 100%;
	width: 300px;
	margin: 0 0 0 -150px;
	left: 50%;
	padding: 10px 0px 10px 0px;
	text-align: center;
	display: none;
	
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			margin: 0 0 0 0;
			padding: 20px 0 20px 0;
		}
	}
	
	a {
		color: #FFF;
		position: center;
		&:link {
			font-size: 20px;
			text-decoration:none;
		}
		&:visited {
			text-decoration:none;
		}
		&:hover {
			color: #CC0000;
			text-decoration:none;
		}
		&:active {
			background-color:#FFF;
			color: #000;
			text-decoration:none;}
	}
}
